@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
}

.mui-1i5n482{
    max-height: 100%;
    min-height: 420px;
    height: calc(100vh - 175px);
    overflow-y: hidden;
}